@font-face {
  font-family: "NaNaYang";
  font-weight: 50;
  src: local("NaNaYang"), url("./assets/fonts/NaNaYang.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "JinJiNi";
  font-weight: 50;
  src: local("JinJiNi"), url("./assets/fonts/JinJiNi.ttf") format("truetype");
  font-display: block;
}
